*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

body > *{
    opacity: 0;
}

.loader{
    position: absolute;
    top: 150px;
    height: 100px;
    animation: rotate 3s linear infinite;
    transform-origin: bottom center;
    opacity: 1;
}

.loader.opacity{
    opacity: 0;
}

.circle{
    display: inline-block;
    background-color: #fd9104;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    margin: 5px;
    animation: grow 1.5s linear infinite;
    transform: scale(0);
}

.circle:nth-child(2){
    background: #692c03;
    animation-delay: .75s;
}

.content{
    max-width: 500px;
    padding: 2rem;
}

h1{
    margin-bottom: 1rem;
    color: purple;
}

p{
    color: green;
}

.content.opacity{
    opacity: 1;
} 







@keyframes rotate{

    to{
        transform: rotate(360deg);
    }

}



@keyframes grow{

    50%{
        transform: scale(1);
    }

}












/* Media Queries */

@media(max-width: 900px){

    .content{
        position: absolute;
        top: 2rem;
    }

}