*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
}

.loader{
    height: 100px;
    animation: rotate 3s linear infinite;
    transform-origin: bottom center;
}

.circle{
    display: inline-block;
    background-color: #fd9104;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    margin: 5px;
}

.circle:nth-child(2){
    background: #692c03;
}













@keyframes rotate{

    to{
        transform: rotate(360deg);
    }

}